<zk xmlns:w="client" xmlns:n="native">
	<window id="wnd" border="none" width="100%" position="center" use="com.truemoneywitami.menu.transferpos.TruePos">
<div sclass="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	<div sclass="box-well text-center">
								<radiogroup id="sv1" />
                                <div zclass="">
                                    <n:h4 class="title-text">Transfer Dari Akun TrueMoney ke Pos </n:h4>
                                    <div zclass="underline"></div>
                                    <n:br/>
                                    <div zclass="text-center desc-text">Fitur Khusus untuk Transfer Uang/Dana ke lebih dari 3.500 Kantor POS di seluruh Indonesia.</div>
                                    <n:legend class="inner-title">Informasi Pengirim</n:legend>
                                     
                                    <div zclass="row text-left">
                                        
                                            <div zclass="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                             <n:h5>Nama</n:h5>
                                            </div>
                                      
                                        <div zclass="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                            <textbox zclass="form-control"  id="nama" maxlength="50"/>
                                        </div>
                                    </div>
                                    <div zclass="row text-left">
                                        
                                            <div zclass="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                             <n:h5>No.HP</n:h5>
                                            </div>
                                    
                                        <div zclass="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                            <textbox zclass="form-control"  id="HP" maxlength="13"/>
                                        </div>
                                    </div>
                                    <div zclass="row text-left">
                                      
                                            <div zclass="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                             <n:h5>Alamat</n:h5>
                                            </div>
                                 
                                        <div zclass="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                            <textbox zclass="form-control" id="add" maxlength="70"/>
                                        </div>
                                    </div>
                                    <n:legend class="inner-title">Informasi Penerima</n:legend>
                                    <div zclass="row text-left">
                           
                                            <div zclass="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                             <n:h5>Nama</n:h5>
                                            </div>
                                 
                                        <div zclass="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                            <textbox zclass="form-control" id="rev_name" maxlength="50"/>
                                        </div>
                                    </div>
                                    <div zclass="row text-left">
                                
                                            <div zclass="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                             <n:h5>No.HP</n:h5>
                                            </div>
                                 
                                        <div zclass="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                            <textbox zclass="form-control" id="rev_HP" maxlength="13"/>
                                        </div>
                                    </div>
                                    <div zclass="row text-left">
                                    
                                            <div zclass="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                             <n:h5>Alamat</n:h5>
                                            </div>
                                     
                                        <div zclass="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                            <textbox zclass="form-control" id="rev_add" maxlength="70"/>
                                        </div>
                                    </div>
                                    <n:legend class="inner-title">Informasi Transfer</n:legend>
                                     <div zclass="row text-left">
                                       
                                            <div zclass="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                             <n:h5>Biaya Admin</n:h5>
                                            </div>
                                            <div zclass="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                            <label  id="charge"></label>
                                        </div>
                                       
                                        
                                    </div>
                                    <div zclass="row text-left">
                                
                                            <div zclass="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                             <n:h5>Nominal Transfer</n:h5>
                                            </div>
                                  
                                        <div zclass="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                            <textbox zclass="form-control" id="amount" maxlength="7"/>
                                        </div>
                                    </div>
                                    <div zclass="row text-left">
                                      
                                            <div zclass="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                             <n:h5>Keterangan</n:h5>
                                            </div>
                                      
                                        <div zclass="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                            <textbox zclass="form-control" id="issue" maxlength="50"/>
                                        </div>
                                    </div>
                                    <div zclass="row text-left">
                                        <div zclass="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                        </div>
                                        <div zclass="col-lg-9 col-md-9 col-sm-8 col-xs-8">
                                            <n:br/>
                                            <button   onClick="wnd.confirm(wnd,wndHeader)"  zclass="btn  btn-login btn-super" label="Lanjut"></button>
                                            <button onClick="clearData()" zclass="btn  btn-login btn-super btn-danger" label="Batal"></button>
                                        </div>
                                    </div>
                                </div>
						
					</div></div>
	<zscript>
		<![CDATA[
		wnd.setData(wnd);
		void clearData(){
			nama.setValue("");
			HP.setValue("");
			add.setValue("");
			rev_name.setValue("");
			rev_HP.setValue("");
			rev_add.setValue("");
			amount.setValue("");
			issue.setValue("");
		}
		]]>
</zscript>
	</window>
</zk>