<?page title="True Money Witami Indonesia"?>
<?page automaticTimeout="false"?>
<?link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"?>
<?link rel="icon" href="../favicon.ico" type="image/x-icon"?>
<?link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic" rel="stylesheet" type="text/css" ?>
<?link href="https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100italic,100,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" ?>
<!-- Bootstrap Core CSS -->
<?link href="../assets/css/bootstrap.css" rel="stylesheet" ?>
<!-- Custom CSS -->
<?link href="../assets/css/font-awesome.css" rel="stylesheet" ?>
<?link href="../assets/css/animate.css" rel="stylesheet" ?>
<?link href="../assets/css/scrolling-nav.css" rel="stylesheet" ?>
<?link href="../assets/css/custom.css" rel="stylesheet" ?>
<zk xmlns:n="native" xmlns:w="client" xmlns:zk="zk" xmlns:x="xhtml">

	<window id="wndLogin" onCreate="wndLogin.onCreate()" use="com.truemoneywitami.menu.LoginAms">
		<n:nav class="navbar navbar-default navbar-fixed-top"
			role="navigation">
			<div class="container">
				<div class="navbar-header page-scroll">
					<n:button type="button" class="navbar-toggle"
						data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</n:button>
					<a class="navbar-brand page-scroll"
						href="#">
						<image src="../assets/img/logo.png"></image>
					</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div
					class="collapse navbar-collapse navbar-ex1-collapse">
					<n:ul class="nav navbar-nav">
						<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
						<n:li class="hidden">
							<a></a>
						</n:li>
						<n:li>
							<a class="" href="https://www.truemoney.co.id">
								<n:i class="fa fa-home custom-icon " style="font-size:14px;margin-top:4px;margin-left:0px;"></n:i>
								 Home
							</a>
						</n:li>
						<n:li>
							<a class="" href="https://www.truemoney.co.id/profil.php">About Us</a>
						</n:li>
						<n:li>
							<a class="" href="https://www.truemoney.co.id/produklayanan.php">Product</a>
						</n:li>
						<n:li>
							<a class="" href="../network.html">Network</a>
						</n:li>
						<n:li>
							<a class="" href="https://www.truemoney.co.id/promo.php">Promo</a>
						</n:li>
						<n:li>
							<a class="" href="https://www.truemoney.co.id/faq.php">FAQ</a>
						</n:li>
					</n:ul>
					<n:ul
						class="nav navbar-nav navbar-right navbar-special">
						<n:li>
							<a href="../login.zul" >
								<n:button type="button"
									class="btn btn-default navbar-btn btn-xs">
									Masuk
								</n:button>
								<n:span style="color:#666; margin-right:5px; margin-left:15px;">atau</n:span>
							</a>
						</n:li>
						<n:li>
							<a href="../signup.zul">
								<n:button type="button"
									class="btn btn-default navbar-btn btn-xs btn-daftar">
									Daftar
								</n:button>
							</a>
						</n:li>
						<n:li>
							<a href="#"
								style="padding-right:0px !important; margin-top:-6px;">
								IND 
								<span style="color:#666;"> |</span>
							</a>
						</n:li>
						<n:li>
							<a href="#"
								style="padding-left:0px;  color: #777 !important;">
								ENG
							</a>
						</n:li>
					</n:ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</n:nav>
		<n:section id="intro" class="intro-section intro-login">
			<div class="col-lg-12">
				<div class="panel">
					<div class=" panel-heading text-left">
						<div>
							<n:label class="panel-sign-in">
								AMS - Masuk / Log In
							</n:label>
						</div>
						<div class="panel-body text-left">
							<n:form class="form-horizontal">
								<n:fieldset>
									<div class="form-group">
										<!-- <div class="col-lg-1">
											<i class="fa fa-user icon-login"></i>
											</div> -->
										<div class="col-lg-12">
											<textbox type="text"
												class="form-control" id="username" placeholder="Username">
											</textbox>
										</div>
									</div>
									<div class="form-group">
										<!-- <div class="col-lg-1">
											<i class="fa fa-lock icon-login"></i>
											</div> -->
										<div class="col-lg-12">
											<textbox type="password" onOK="loginTo()"
												class="form-control" id="password" placeholder="Password">
											</textbox>
<!-- 											<div class="remember"> -->
<!-- 												<n:input -->
<!-- 													type="checkbox"> -->
<!-- 												</n:input> -->
<!-- 												<span>Ingat Saya</span> -->
<!-- 											</div> -->
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-12">
											<x:button type="submit"
												class="btn  btn-login btn-block"  zk:onClick = "loginTo();">
												Masuk
											</x:button>
											<!-- 
											<n:h5><a href="forgotpassword.zul">Lupa Password?</a></n:h5>
											 -->
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                    	<!-- 
                                    	<n:h5>Belum Punya Akun? <a href="signup.zul" style="color: #F37F1D;"> Daftar </a> Sekarang!</n:h5>
                                    	 -->
                                        
                                    </div>
                                </div>
                            </n:fieldset>
                        </n:form>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12">
            <a class="page-scroll btn-scroll" href="#about"><n:i class="fa fa-chevron-down "></n:i> Apa Itu True Money?</a>
        </div>
    </n:section>
    <n:section class="container-fluid footer-at">
        <div class="">
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="footer-box text-center">
	                    <n:span class="footer-title">PT. Witami Tunai Mandiri</n:span>
	                     <n:br/>
	                     <n:span>Gran Rubina Business Park, Generali Tower Lt. 19, Jl. HR. Rasuna Said Kavling C-22, Jakarta Selatan, DKI Jakarta 12940</n:span>
	                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="footer-box text-center">
                    <n:span class="footer-title">Temukan Kami  </n:span>
         
                    <n:br/>
                    <a href="https://www.facebook.com/TrueMoneyWitami/?fref=ts" class="sns-sm"><image src="../assets/img/fb-sm.png" class="responsive-image"/></a>
                    <a href="https://twitter.com/TrueMoneyWitami" class="sns-sm"><image src="../assets/img/tw-sm.png" class="responsive-image"/></a>
                    <a href="https://www.instagram.com/truemoney_id/" class="sns-sm"><image src="../assets/img/ig-sm.png" class="responsive-image"/></a>
                    <n:br />
              	   <!--  <a href=""><image src="../assets/img/appleapps.png" class="responsive-image" /></a> 
                	<a href=""><image src="../assets/img/playapps.png" class="responsive-image" /></a>-->
                  
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
            <div class="footer-box text-center">
                <n:span class="footer-title">Call Center</n:span>
                <n:br/>
                <n:span> <n:i class="fa fa-phone"> </n:i> 08041000100 </n:span>
                
                <n:br/>
                <n:span><n:a href="mailto:info@truemoney.co.id" style="color: #F37F1D;"> <n:i class="fa fa-envelope"></n:i>  info@truemoney.co.id</n:a></n:span>
                 
            </div>
        </div>
    </n:section>
    <n:section>
        <div class="container-fluid footer">
            <n:h6>©True Money  2016. All rights reserved.
                <n:ul class="footer-link">
                    <n:li><a href="">Term Of Service</a></n:li>
                </n:ul>
            </n:h6>
        </div>
    </n:section>
	<zscript>
		<![CDATA[
import com.truemoneywitami.function.session.mob_Session;
import com.truemoneywitami.function.*;

void loginTo (){
  try{
   String s_username = username.getText().toString();
   
   int i_unameLength  = s_username.length(); 
   if (i_unameLength < 1) {
    username.setFocus(true);
   } else {password.setFocus(true);}
   String s_password = password.getText().toString();
   int i_passwdLength  = s_password.length();
   if (i_passwdLength < 1){
    password.setFocus(true);
   }
   if(i_unameLength < 1 || i_passwdLength < 1){
    Clients.showNotification("Username dan Password tidak boleh kosong", "info", null, "middle_center", 4000);
   } else {
    wndLogin.loginTo(username.getValue().toString(), password.getValue().toString());
   }
  }catch (Exception ex){
   System.out.print("Error at login cause "+ex);
  }
 }
		]]>
	</zscript>
</window>
	<script type="text/javascript"  src="../assets/js/jquery.js"/>
	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript"  src="../assets/js/bootstrap.min.js"/>
	<!-- Scrolling Nav JavaScript -->
    <script type="text/javascript"  src="../assets/js/jquery.easing.min.js"/>
    <script type="text/javascript"  src="../assets/js/scrolling-nav.js"/>
    <script type="text/javascript"  src="../assets/js/wow.js"/>
    <script type="text/javascript"  src="../assets/js/moment.min.js"/>
    <script type="text/javascript"  src="../assets/js/moment-with-locales.js"/>
    <script type="text/javascript"  src="../assets/js/bootstrap-datetimepicker.js"/>
    
</zk>