@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100italic,100,400italic,700,700italic,900,900italic);
.btn {
    font-family: 'Lato', sans-serif;
}

a {
    color: #9c9c9c;
    text-decoration: none !important;
}

a:hover,
a:focus,
a:active {
    color: #9c9c9c;
}


/*.full {
    background: url('../img/hero.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

*/

.full2 {
    background: url('../img/devices.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
}

.navbar-default {
    background-color: rgba(255, 255, 255, .97)!important;
}

a:focus {
    outline: transparent !important;
}

.box {
    height: 250px;
    margin: 15px 0px;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    background-color: #fff;
}

.box:hover,
.box:focus,
.box:active {
    /*background-color: #F37F1D;
    color: #fff;*/
}

.box:hover a,
.box:focus a,
.box:active a {
    /*color: #fff;
    border: 1px solid #fff;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;*/
}

.box .paragraph {
    height: 120px;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
    text-align: center;
}

.box h4 {
    font-weight: 400;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
}

.box > a {
    min-width: 100px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    margin: 0 auto;
    color: #9c9c9c;
    border: 1px solid #F3F3F3;
}

.box > a:hover {
    background-color: #fff;
    color: #F37F1D;
    border: 1px solid #FFDFC4;
    -webkit-transition: border-color color 0.2s linear;
    -moz-transition: border-color color 0.2s linear;
    -ms-transition: border-color color 0.2s linear;
    -o-transition: border-color color 0.2s linear;
    transition: border-color color 0.2s linear;
}

.icon-top {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.icon-top2 {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    margin-bottom: 15px;
    opacity: 0;
}

.icon-top2 > img {
    max-height: 80px;
    margin-left: 40px;
}

.steps-text {
    margin-top: -165px;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(218, 101, 0, 1);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.steps-text p {
    margin-left: 50px;
    margin-top: -50px;
    width: auto;
    min-height: 30px;
    height: auto;
    overflow: hidden;
}

.number {
    font-size: 32pt;
    font-weight: 700;
}

.list-background {
    background-color: #fdfdfd;
}

ul.list-group > li {
    background: none;
    border: none;
    font-weight: 600;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.no-padding {
    padding-left: -15px !important;
    padding-right: -15px !important;
}

#about {
    padding-top: 50px;
}

.nav-tabs.nav-justified > li > a {
    border-radius: 0px;
    background-color: #EA6C00;
    font-weight: 600;
    color: #fff;
    border-color: #DA6500;
    text-shadow: 1px 1px 0px rgba(218, 101, 0, 1);
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #E46900;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #F37F1D;
    color: #fff;
    font-weight: 700;
}

.nav-tabs.nav-justified > li.active > a {
    background-color: #F37F1D;
}

.steps {
    height: auto;
    background-color: #F37F1D;
    position: relative;
}

.steps-box {
    min-height: 80px;
    height: auto;
    background-color: transparent;
    margin: 5px 0px;
    padding: 15px;
}

.tab-pane {
    padding: 10px 0px;
}

.scrollToTop {
    text-align: center;
    background: transparent;
    color: #444;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    right: 30px;
    display: none;
}

.scrollToTop:hover {
    text-decoration: none;
}

fieldset > h3 {
    margin-top: 0px !important;
    color: #F37F1D;
    font-weight: 600;
}

.h3label {
    margin-top: 0px !important;
    color: #F37F1D;
    font-weight: 600;
}

.form-group:last-child {
    margin-bottom: 0px;
}

.form-group h5 {
    margin-bottom: 5px !important;
    color: #9c9c9c;
    font-weight: 400;
}

.footer {
    height: 50px;
    background-color: #fff;
    padding: 10px 30px;
    border-top: 1px solid #E7E7E7;
}

.footer a {
    margin: 0 10px;
}

.simpan {
    font-weight: 400;
}

.navbar-brand {
    margin-top: -15px;
}

li.list-group-item {
    border-bottom: 1px solid #F7F7F7 !important;
}

li.list-group-item:first-child,
li.list-group-item:last-child {
    border-bottom: 1px solid transparent !important;
}

li.list-group-item > h3 {
    font-weight: 900;
    color: #EA6C00;
    font-family: 'PT Sans', sans-serif;
}

li.list-group-item > h4 {
    font-weight: 400;
    color: #EA6C00;
    margin-top: 27px;
    margin-bottom: 10px;
}

li.list-group-item .fa-check {
    color: #EA6C00;
    margin-right: 15px;
}

.btn-default {
    background-color: #f37f1d;
    color: #fff;
    font-weight: 900;
    border: none;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(234, 108, 50, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(234, 108, 50, 1);
    box-shadow: 0px 3px 0px 0px rgba(234, 108, 50, 1);
}

.btn-default:hover {
    background-color: #f58b31;
    color: #fff;
    font-weight: 900;
    border: none;
}

.btn-default:active,
.btn-default:focus {
    background-color: #f58b31;
    color: #fff;
    font-weight: 900;
    border: none;
    margin-top: 4px;
    -webkit-box-shadow: 0px 3px 0px 0px transparent;
    -moz-box-shadow: 0px 3px 0px 0px transparent;
    box-shadow: 0px 3px 0px 0px transparent;
    margin-bottom: -4px;
}

.btn-login {
    background-color: #F3B91D;
    color: #fff;
    font-weight: 900;
    border: none;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(218, 163, 16, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(218, 163, 16, 1);
    box-shadow: 0px 3px 0px 0px rgba(218, 163, 16, 1);
}

.btn-login:hover {
    background-color: #ECB41B;
    color: #fff;
    font-weight: 900;
    border: none;
}

.btn-login:active,
.btn-login:focus {
    background-color: #ECB41B;
    color: #fff;
    font-weight: 900;
    border: none;
    margin-top: 4px;
    -webkit-box-shadow: 0px 3px 0px 0px transparent;
    -moz-box-shadow: 0px 3px 0px 0px transparent;
    box-shadow: 0px 3px 0px 0px transparent;
    margin-bottom: -4px;
}

.gabung {
    padding: 15px;
    min-width: 200px;
}

.btn-gabung {
    margin-top: 120px;
    margin-bottom: 15px;
}

.form-control {
    /*padding: 18px 12px;*/
}

*:focus,
*:active {
    outline: 0;
    outline: none;
    outline: transparent;
}

a:focus,
a:active {
    outline: 0;
    outline: none;
    outline: transparent;
}

.btn:focus,
.btn:active {
    outline: 0;
    outline: none;
    outline: transparent;
}

.navbar-right li a {
    font-weight: 300 !important;
    color: #F37F1D !important;
    padding: 15px 5px !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #F37F1D !important;
    background-color: transparent;
}

.btn-scroll {
    width: auto;
    height: 40px;
    background-color: #F37F1D;
    color: #fff;
    padding: 15px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.btn-scroll:hover,
.btn-scroll:active,
.btn-scroll:focus {
    background-color: #F37E1B;
    color: #fff;
}

.panel {
    border: none;
    margin-bottom: 100px;
    background-color: #fdfdfd;
}

.panel-heading {
    color: #F37F1D;
    padding-top: 15px;
}

.panel-sign-in {
    width: 100%;
    padding: 15px;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #F37F1D;
    border-radius: 4px;
    text-shadow: 1px 1px 0px rgba(225, 99, 9, 1);
    margin-bottom: 15px;
}

.fa-chevron-circle-up {
    color: #9c9c9c;
}

.fa-chevron-circle-up:hover {
    color: #F37F1D;
}

.remember {
    color: #9c9c9c;
    font-size: 12px;
    margin-top: 10px;
}

.icon-login {
    color: #9c9c9c;
    font-size: 24px;
    margin-top: 7px;
}

.footer-link {
    display: inline-block;
    margin-bottom: 0px;
    padding-left: 0px;
}

ul.footer-link li {
    display: inline-block;
}

.box-title {
    width: 100%;
    height: auto;
    padding-top: 120px;
    background-color: #f1f1f1;
    position: relative;
    padding-left: 5em;
    padding-right: 5em;
    /*border-bottom: 1px solid #E7E7E7;*/
}

.paragraph-title {
    font-size: 32px;
    color: #353535;
    font-weight: 400;
    margin-top: 15px;
    padding-bottom: 15px;
    /*text-shadow: 1px 1px 0px rgba(225, 99, 9, 1);*/
}

.under {
    border-bottom: 4px solid #EA6C00;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 32px;
    ;
    display: inline;
    padding-bottom: 15px;
}

.box-title p {
    color: #fff;
}

.grey-background {
    background-color: #fdfdfd;
}

.white-background {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle {
    color: #F37F1D;
    border-color: #e7e7e7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #9c9c9c;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.address-article {
    width: 35%;
}

.about-article {
    width: 65%;
}

.gray-text {
    color: #989898;
    font-style: italic;
    font-weight: 400;
}

.orange-text {
    color: #F37E1B;
    font-style: italic;
    font-weight: 400;
}

.network-article {
    width: 70%
}

.network-image {
    width: 30%
}

.fitur {
    max-width: 822px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

form.form-contact h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form.form-contact .form-group {
    margin-bottom: 5px;
}

form.form-contact .form-control {
    font-weight: 400;
}

form.form-contact textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
    margin-bottom: 15px;
}

.btn-contact {
    width: 100px;
}

.padding-list {
    padding-left: 30px;
    padding-right: 30px;
}

.intro-text {
    margin-top: 30px;
    text-align: center;
}

.intro-text p {
    margin: 0px;
}

.kapital {
    font-size: 28px;
    font-weight: bold;
}

.partners {
    margin-bottom: 30px;
}

.partner-img {
    margin: 0 auto;
}

.navbar {
    border-radius: none;
}

.footer-at {
    height: auto;
    background-color: #FDFDFD;
}

.footer-box {
    height: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    display: inline-block;
    width: 100%;
}

.panel-heading-faq {
    padding: 0px;
    /* background-color: #F37F1D !important;*/
    background-color: #F5f5f5 !important;
    border-color: #D66200 !important;
}

p.carousel-title {
    font-size: 14px;
    margin: 10px 15px;
    color: #4C4C4C;
    font-weight: 700;
    /*    text-shadow: 1px 1px 0px rgba(225, 99, 9, 1);*/
}

.title-for-about {
    font-weight: 900;
    color: #EA6C00;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
}

.underline {
    width: 70px;
    height: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #EA6C00;
    margin: 0 auto;
    margin-top: 15px;
}

.social-wrapper {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #EA6C00;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    padding-top: 5px;
    display: inline-block;
    margin: 5px;
}

.social-wrapper:hover {
    background-color: #f58b31;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active {
    background-color: #F37F1D;
}

.intro-text p {
    font-family: 'TtxtC';
    font-size: 24px;
    line-height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    /* font-weight: 300;*/
    /*    font-size: 18px;
    line-height: 34px;*/
}

.navbar {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.nav li a {
    font-family: "Lato", sans-serif;
    font-weight: 300 !important;
    font-size: 16px;
}

html,
body {
    height: 100%;
}


/*.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}*/


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}


/* Home Page Carousel */

header.carousel {
    height: 550px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/*.header-intro {
    position: absolute;
    top: 0px;
    background-color: transparent;
}

a.default-scroll {
    min-width:200px;
    margin: 0 auto !important;
    z-index: 1000;
}


.header-intro{
    width: 100%;
}*/


/*
.nav > li > a{
    padding: 10px 10px;
}

.form-login  .form-control {
    height: 27px !important;
    width: 100px;
}*/

.btn-top {
    width: 80px;
    height: 23px;
    margin-top: -4px;
}

.btn-top:focus,
.btn-top:active {
    margin-top: 4px;
}

.navbar-btn.btn-xs {
    margin: 0px;
    margin-top: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

.navbar-btn.btn-xs:active,
.navbar-btn.btn-xs:focus {
    margin-top: -1px;
    margin-bottom: -4px;
}

.btn-daftar {
    background-color: #F3B91D;
    color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(218, 163, 16, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(218, 163, 16, 1);
    box-shadow: 0px 3px 0px 0px rgba(218, 163, 16, 1);
}

.btn-daftar:hover {
    background-color: #ECB41B;
    color: #fff;
}

.btn-daftar:active,
.btn-daftar:focus {
    background-color: #ECB41B;
    color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px transparent;
    -moz-box-shadow: 0px 3px 0px 0px transparent;
    box-shadow: 0px 3px 0px 0px transparent;
}

.header-intro {
    background-color: #f1f1f1;
    min-height: 550px;
}

.panel {
    max-width: 450px;
    margin: 0 auto;
    /*   margin-top: 10px;*/
}

.btn-scroll {
    display: none;
}

.sns-btn {
    max-width: 300px;
    position: absolute;
    margin-top: -200px;
    right: 100px;
}

.sns-btn a {
    display: inline-block;
    margin-bottom: 0px;
    padding-left: 0px;
    margin: 0px 5px;
}

.sns-btn hr {
    border-color: #B6B6B6;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-box {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.footer-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
}

.footer-box br {
    margin-bottom: 15px;
}

.sns-sm {
    margin: 0px 5px;
}

.navbar-default .navbar-nav > li > a {
    color: #878787;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #636363;
}

ul.list-group > li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.footer-at {
    border-top: 1px solid #E7E7E7;
    padding-bottom: 15px;
}

ul.about-list {
    margin-left: 50px;
}

ul.about-list> li.list-group-item .fa-check {
    margin-left: -30px;
}

.title-jaringan {
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 0px;
}

.img-logo {
    margin-top: 15px;
    margin-bottom: 15px;
}


/*.search-text{
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 20px;
    color: #EA6C00;
    font-family: 'Lato', sans-serif;
}*/

*,
*:before,
*:after {
    box-sizing: border-box !important;
}

.faq-wrapper {
    margin: 20px 0px;
    margin-top: 20px;
}

.faq-wrapper1 {
    margin: 20px 0px;
    margin-bottom: 0px;
}

.btn-search {
    background-color: #F3B91D;
    color: #fff;
}


/*.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}*/

.well {
    position: relative;
    display: block;
    background-color: #fff;
    padding: 25px 10px;
    border: none;
    box-shadow: none;
    border-top: 1px solid #E7E7E7;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    clear: none;
    border-radius: 0px;
    margin: 0px;
}

.well:hover {
    background-color: #F8F8F8;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.well > p.title {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #EA6C00;
}

.well> p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.well > p ul {
    display: inline-block;
    padding-left: 0px;
}

.input-group .form-control {
   /* border-color: #E7E7E7;*/
    font-family: 'Lato', sans-serif;
}

.form-control:focus {
    box-shadow: none;
    border-color: #C2C2C2;
}

.jaringan-text {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.sns-btn3 img {
    margin: 5px 10px;
    margin-bottom: 20px;
}

.panel-reg {
    max-width: 900px !important;
    margin-bottom: 20px;
}

.panel-sign-up {
    width: 48%;
    float: left;
    display: inline-block;
    margin: 1%;
}

.signup {
    padding-top: 150px;
}

.agen {
    background-color: #EC1C24;
    text-shadow: 1px 1px 0px #C30000;
}

.panel-disabled {
    background-color: #D2D2D2;
    text-shadow: 1px 1px 0px #A1A1A1;
}


/* admin page */

.navbar-cool {
    padding: 0px !important;
}

.custom-icon {
    font-size: 12px;
}

.dropdown-user {
    padding: 15px 0px;
}

.tombol-userhover,
.tombol-user:focus,
.tombol-user.focus,
.tombol-user:active,
.tombol-user.active,
.open > .dropdown-toggle.tombol-user,
.tombol-user:active,
.tombol-user:focus {
    background-color: #F3B91D !important;
    color: #fff !important;
    outline: none;
}

textarea {
    resize: vertical;
}

legend {
    font-size: 18px;
    margin-top: 20px;
}

.asterisk {
    color: #f00;
    font-weight: 600;   
}

.right-menu {}

.right-menu li a {
    padding: 5px 20px !important;
    color: #777 !important;
}

.grey {
    background-color: #f1f1f1;
}

.list-group.panel > .tm-list-group-item {
    border: 1px solid #626F7E !important;
    background-color: #6d7b8a;
    color: #fff !important;
}

.list-group.panel > .tm-list-group-item:hover {
    background-color: #788595;
}

.list-group.panel > .tm-list-group-item.active {
    background-color: #546271;
}

.list-group.panel > .tm-list-group-item.active:hover,
.list-group.panel > .tm-list-group-item.active:focus,
{
    background-color: #546271 !important;
}

.list-group-submenu {
    margin-left: 0px;
}

.tm-list-group-item {
    color: #666666 !important;
    background-color: #f5f5f5;
    border: 0px !important;
}

.true-contact{
    display: inline-block;
background-color: #6BC325;
width: auto;
color: #FFF;
padding: 15px;
border-radius: 4px;
margin-bottom: 15px;
margin-left: 15px;
margin-right: 0px;
position: relative;
margin-top: -30px;
}



.true-contact-lg{
    display: inline-block;
background-color: #6BC325;
width: auto;
color: #FFF;
padding: 10px;
margin: 5px 5px 5px 0px;
border-radius: 4px 4px 0px 0px;
margin-bottom: 0px;
float: right;
position: fixed;
bottom: 0px;
right: 15px;
}

.true-contact-lg:hover,
.true-contact-lg:active,
.true-contact-lg:focus {
    background-color: #63B622;
}

.msg-link {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 0px;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    margin-top: -10px;
}

.msg-link:hover{
    color: #555;
    background-color: #F5F5F5;
}
.adm-page{
    padding-bottom: 40px;
}

a.tm-list-group-item,
button.tm-list-group-item {
    color: #3c763d;
}

a.tm-list-group-item .tm-list-group-item-heading,
button.tm-list-group-item .tm-list-group-item-heading {
    color: inherit;
}

a.tm-list-group-item:hover,
button.tm-list-group-item:hover,
a.tm-list-group-item:focus,
button.tm-list-group-item:focus {
    color: #3c763d;
    background-color: #d0e9c6;
}

a.tm-list-group-item.active,
button.tm-list-group-item.active,
a.tm-list-group-item.active:hover,
button.tm-list-group-item.active:hover,
a.tm-list-group-item.active:focus,
button.tm-list-group-item.active:focus {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d;
}

.list-group-item:first-child {
    border: 0px !important;
}


/*.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #626F7E !important;
}*/

.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-group-item {
    border: 0px;
}


/*.list-group-item {
    background-color: #6d7b8a;
    color: #fff !important;
    font-family: 'PT Sans', sans-serif;
    border: 1px solid #626F7E !important;
}*/

a.list-group-item-success:hover,
a.list-group-item-success:focus {
    background-color: #576574;
}

a.list-group-item:hover,
a.list-group-item:focus {
    background-color: #627080;
    color: #fff;
}

.menu-wrapper {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: #687481;
    border-right: 1px solid #eaeaea;
}

.adm-page {
    padding-top: 53px !important;
}

.menu-footer {
    padding: 15px;
    color: #fff;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    width: 200px;
}

.box-well {
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #E7E7E7;
    margin-bottom: 15px;
}

.content-area {
    padding-top: 25px;
}

.box-well h4 {
    font-size: 18px;
}

.box-well h3 {
    font-size: 18px;
}

.zh3 {
    font-size: 18px;
}

.menu-inside {
    display: none;
}

.div-content {
    width: 80%;
    margin-left: 200px;
}

.edit-button {
    position: absolute;
    right: 30px;
    top: 15px;
    cursor: pointer;
}

.edit-button:hover {
    position: absolute;
    right: 30px;
    top: 15px;
    color: #555;
}

.form-control {
    height: 30px
}

.btn-super {
    padding: 4px 8px;
    font-weight: 400 !important;
}

.tombol-user {}

.btn-danger {
    background-color: #BCBCBC;
    box-shadow: 0px 3px 0px 0px #AEAEAE;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: #B9B9B9;
}

.btn-form {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    outline: none;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #E16309;
}

textarea {
    margin-bottom: 5px;
}

.home-body {
    padding-top: 90px;
}

.list-group-item:first-child {
    border-radius: 0px;
}

.collapsing> a {
    background-color: #5A6B7D !important;
    padding-left: 50px;
    color: #fff;
}

.collapsing> a:hover,
.collapsing> a:focus,
.collapsing> a:active {
    color: #fff !important;
}

.collapse > a {
    background-color: #5A6B7D;
    padding-left: 50px;
    color: #fff;
}

.collapse > a:hover,
.collapse > a:focus,
.collapse > a:active,
{
    color: #fff !important;
}

.child-item {
    border-top: 1px solid #6D7B8A;

}

.child-item:hover {
    color: #fff;
}


/*a.list-group-item:hover, a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}   */

.inner-title {
    text-align: left;
    font-size: 14px;
}

.true-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-right: 15px;
    float: left;
    margin-top: 5px;
}

.dropdown-user {
    margin-left: 5px;
}

.notif-li {
    border-bottom: 1px solid #f1f1f1;
    max-width: 300px;
    overflow: hidden;
}

.notif-li:last-child {
    border-bottom: 0px;
}

.notif-li.unread {
    background-color: #FFF7E2;
}

.notif-li.unread > a:hover {
    background-color: #FFF3D4 !important;
}

.notif-date {
    font-size: 10px !important;
}

.notif-msg {
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 5px 10px;
}

.notif-sg:last-child {
    border-bottom: 0px;
}

.notif-msg.unread {
    background-color: #FFF7E2;
}

.notif-msg.unread > a:hover {
    background-color: #FFF3D4 !important;
}


.well.menu-inside {
    background-color: #545F6B;
    width: 95%;
    margin-left: 5%;
    cursor: pointer;
}

.well.menu-inside:hover,
.well.menu-inside:active,
.well.menu-inside:focus {
    background-color: #6D7B8A;
}

.alert-danger {
    color: #CB4543;
    background-color: #FFD2D2;
    border-color: #FCB5C0;
}

a.menu-inside:hover,
a.menu-inside:active,
a.menu-inside:focus {
    color: #fff !important;
}

.badge {
    margin-left: 5px;
    background-color: #CF7F26 !important;
    border-radius: 4px;
}

.menu-footer-mobile {
    display: none;
}

.intro-login {
    background-color: #f1f1f1;
    padding-top: 150px;
    min-height: 600px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #48596B !important;
    border-color: #6D7B8A !important;
}

.menu-inside:focus,
.menu-inside:active,
.menu-inside:hover,
.menu-inside.active {
    background-color: #303B47 !important;
    border-color: #6D7B8A !important;
}

.logo-wrapper {
    width: 240px;
    margin-bottom: 10px;
}

.alert-success {
    color: #1C711E;
    background-color: #9EDD84;
    border-color: #9DCF73;
}

.logo-middle {
    margin: 0 auto;
}


/*.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #E16309;
    color: #ffffff;
}*/

.notification-box {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 30px;
    color: #333333;
}

.notification-box.new {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 30px;
    background-color: #FFF7E2;
}

.notification-box.new h5 {
    font-weight: 600;
}

.logo-mandiri {
    margin-bottom: 15px;
}

legend.inner-title {
    font-weight: 600;
}

.desc-text {
    font-style: italic;
    font-size: 14px;
    color: #48596B;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #ECECEC;
}

@media (max-width: 768px) {
    .adm-page{
    padding-bottom: 15px;
}
    .notif-li {
        max-width: 100%;
    }
    header.carousel {
        height: 270px;
    }
    .btn-gabung {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .gabung {
        font-size: 18px;
        width: 100%;
    }
    .nav-tabs.nav-justified > li > a {
        font-size: 17px;
    }
    .panel {
        margin-top: -80px;
        margin-bottom: 30px;
    }
    .box-title {
        padding-top: 70px;
    }
    .address-article {
        width: 100%;
    }
    .about-article {
        width: 100%;
    }
    .network-article {
        width: 100%
    }
    .network-image {
        width: 100%;
    }
    .network-image img {
        float: left !important;
    }
    .box {
        height: 270px;
    }
    .paragraph-title {
        font-size: 22px;
    }
    .box-title {
        padding-left: 2em;
    }
    .cbp-so-section {
        padding: 5px;
    }
    .padding-list {
        padding-left: 15px;
        padding-right: 15px;
    }
    .intro-text {
        margin-top: 15px;
        text-align: left;
    }
    .contact-section {
        height: 100%;
        padding-top: 100px;
        text-align: center;
        background: #F2770E;
        margin-bottom: -60px;
    }
    .faq-text {
        color: #fff !important;
    }
    .footer-box img {
        width: 100px;
    }
    .navbar-special {
        display: none;
    }
    .navbar-brand {
        margin-left: -10px;
    }
    .sns-btn {
        width: 200px !important;
        margin: 0 auto !important;
        margin-top: -250px !important;
        left: 15% !important;
    }
    .sns-btn a {
        margin-bottom: 5px !important;
    }
    .under {
        border: transparent;
        padding-left: 0px;
    }
    .sns-sm img {
        width: 30px;
    }
    .sns-btn {
        display: none;
    }
    .sns-btn2 img {
        margin: 5px;
        max-width: 120px;
    }
    .panel {
        margin-top: -20px;
    }
    .login .panel {
        margin-top: 20px;
    }
    .sns-btn3 img {
        margin: 5px;
        max-width: 100px;
        margin-bottom: 20px;
    }
    .adm-page {
        padding-top: 49px !important;
    }
    li.bahasa {
        display: none;
    }
    .menu-wrapper {
        display: none;
    }
    .menu-footer {
        display: none;
    }
    .menu-inside {
    display: inline-block;
    background-color: #6D7B8A;
    width: 100%;
    color: #FFF;
    padding: 15px;
    margin: 5px 5px 5px 0px;
    border-radius: 4px;
    font-size: 13px;
}
    .menu-inside:focus,
    .menu-inside:active,
    .menu-inside:hover,
    .menu-inside.active {
        background-color: #546271;
    }

    .div-content {
        margin-left: 0px;
        width: 100%;
    }
    .navbar-secial {
        display: none;
    }
    .home-body {
        padding-top: 50px;
    }
    .sns-app img {
        width: 80px !important;
    }
    .lang-opt {
        text-align: left;
    }
    .edit-button {
        margin-top: -10px;
    }
    .tombol-user {
        width: 100%;
        margin-left: -30px;
    }
    .navbar-btn.btn-xs.tombol-user {
        padding-top: 10px;
        padding-bottom: 10px;
        border-color: #E7A32B;
    }
    .tombol-user {
        border-radius: 0px;
        text-align: left;
        font-size: 12px;
    }
    .dropdown-user {
        padding: 0px 0px;
        margin: 0px;
    }
    .navbar-special.navbar-admin {
        margin: 0px !important;
    }
    .dropdown-user > .btn-daftar {
        box-shadow: none;
        margin: 0px;
        border-bottom: 1px solid #fff;
    }
    .dropdown-user > .btn-daftar:focus,
    .dropdown-user > .btn-daftar:active,
    .dropdown-user > .btn-daftar:hover {
        margin: 0px;
    }
    .navbar-administrator {
        margin-left: -30px !important;
        margin-right: -30px !important;
    }
    .navbar-default-admin {
        border: 0px;
    }
    .badge {
        float: right;
        margin-top: -15px;
    }
    .dropdown-menu {
        padding: 0px;
    }
    .menu-footer-mobile {
        width: 100%;
        display: inline-block;
        position: relative;
        background-color: #fff;
        padding: 10px 15px;
        height: auto;
        border-top: 1px solid #E7E7E7;
    }
    .intro-login {
        padding-top: 100px;
    }
    .form-control {
        height: 34px;
    }
    .true-contact-lg{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    /* header.carousel {
    height: 450px;
}*/

    
    .btn-scroll {
        display: none;
    }
    .navbar-right {
        display: none;
    }
    /* .btn-default {
        margin-top: -30px;
    }
    .btn-default:focus,  .btn-default:hover, .btn-default:active {
        margin-top: -30px;
    }*/
    .address-article {
        width: 100%;
    }
    .about-article {
        width: 100%;
    }
    .address-article {
        margin-top: -50px;
    }
    .network-article {
        width: 70%;
    }
    .network-image {
        width: 30%;
    }
    .padding-list {
        padding-left: 15px;
        padding-right: 15px;
    }
    .intro-text {
        margin-top: 15px;
        text-align: left;
    }
    .intro-text p {
        height: 150px;
    }
    .footer-box img {
        width: 100px;
    }
    .sns-sm img {
        width: 30px;
    }
    .sns-btn2 {
        display: none;
    }
    .login .panel {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .sns-btn3 img {
        margin: 5px;
        max-width: 100px;
        margin-bottom: 20px;
    }
    .adm-page {
        padding-top: 52px;
    }
    .menu-inside {
        display: none;
    }
    .div-content {
        width: 72%;
    }
    .navbar-secial {
        display: none;
    }
    .sns-app img {
        width: 80px !important;
    }
    .lang-opt {
        position: relative;
        height: 30px;
        text-align: left;
    }
    .dropdown-text {
        display: none;
    }
    .true-contact{
        display: none;
    }

}

@media (min-width: 993px) and (max-width: 1200px) {
    .navbar-right {
        display: none;
    }
    
    .true-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}
    
    .panel {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .network-article {
        width: 70%;
    }
    .network-image {
        width: 30%;
    }
    .padding-list {
        padding-left: 30px;
        padding-right: 30px;
    }
    .intro-text {
        margin-top: 15px;
        text-align: left;
    }
    .faq-text {
        margin-bottom: 40px;
    }
    .sns-btn2 {
        display: none;
    }
    .login .panel {
        margin-top: 50px;
    }
    .menu-inside {
        display: none;
    }
    .nav-tabs.nav-justified > li > a {
        font-size: 18px;
    }
    .device-img {
        display: none;
    }
    #MainMenu {
        margin-top: 30px;
    }
    .dropdown-text {
        display: none;
    }
    .lang-opt {
        position: relative;
        height: 30px;
        text-align: left;
    }
    .true-contact{
        display: none;
    }
}

@media (min-width: 1200px) {
    .header-intro {
        display: none;
    } 
    .dropdown-text {
        display: none;
    }
    .lang-opt {
        display: none;
    }
    .true-contact{
        display: none;
    }
}

.btn:active {
    outline: 0 !important;
}
.h5-label {
	font-size: 14px !important;
	font-weight: 400px;
	padding-bottom: 20px;
	line-height: 35px;
}

.breeze {
 padding:0px !important;
}

.z-window-noborder.z-window-noheader > .z-window-content {
	background-color: #f1f1f1 !important;
 padding: 0px !important;
}

.navbar-default {
  background-color: #2c2c2c; 
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  box-shadow:none;
}

body {
 background-color: #F1F1F1 !important;
}

.test1 {
	background-color: #F1F1F1 !important;
}

.btn-default{
 font-weight: none !important;
}

.z-combobox-input, .z-bandbox-input, .z-datebox-input, .z-timebox-input, .z-spinner-input, .z-doublespinner-input{
 height: 30px !important;
}

.z-datebox-button, .z-bandbox-button {
    text-align: center;
    padding: 14px !important ;
}

[class^="z-icon-"]::before, [class*=" z-icon-"]::before {
    text-decoration: inherit;
    display: inline-block;
    padding-top: 9px !important;
    position: absolute;
}

.z-combobox-button {
    font-size: 16px;
    min-height: 24px;
    padding: 14px !important;
}

.menu-wrapper {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: #687481;
    border-right: 1px solid #EAEAEA;
}

.true-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}
[class^="z-icon-"]::before, [class*=" z-icon-"]::before {
    text-decoration: inherit;
    display: inline-block;
    padding-top: 0px !important;
    position: absolute;
}

.z-combobox-button, .z-bandbox-button, .z-datebox-button, .z-timebox-button, .z-spinner-button, .z-doublespinner-button {
    font-size: 14px;
    color: #636363;
    line-height: 0px !important;
    text-align: left;
    cursor: pointer;
}

[class^="z-icon-"]::before, [class*=" z-icon-"]::before {
    text-decoration: inherit;
    display: inline-block;
    padding-top: 0px !important;
    position: absolute;
    margin-left: -6px !important;
    -webkit-padding-start: 14px;
}

.list-group.panel > .tm-list-group-item {
 font-size:13px !important;
}

.true-icon2 {
    
    margin-top: 0px;

}

.z-label, .z-radio-content, .z-checkbox-content, .z-loading {
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 35px;
}


.badge > .z-label, .z-radio-content, .z-checkbox-content, .z-loading  {
	line-height: 0px !important;
	 font-size: 14px;
}


.download-text:hover,
.download-text:focus,
.download-text:active{
	color:#F37F1D;
}

.glyphicon-print {
	float:left;
	margin-top: 4px;
margin-right: 4px;
}

.notif-date {
    font-size: 11px !important;
}


.notif-unread > .z-label {
	font-size:11px !important;
	line-height: 10px !important;	
	}
	
.dropdown-message{
	min-width:300px;
}

.radio input[type="radio"]{
	margin-left: 0px !important;
}

input[type="checkbox"] {
    margin: 4px 0px 0px;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}

.z-checkbox-content{
 font-size:14px;
 margin-left:4px;
}

.z-window-close > .z-icon-times{
 margin-top: 0px;
position: absolute;
}

.custom-icon {
    font-size: 12px;
    float: left;
    margin-top: 10px;
    margin-left: -25px;
}


.right-menu li a {
    padding: 5px 20px 5px 41px !important;
    color: #777 !important;
}

.custom-icon-contact{
 font-size: 12px;
}

.z-errorbox-icon .z-icon-times >
[class*=" z-icon-"]::before {
 margin-left: 0px !important;
}

.z-window-close > .z-errorbox-icon.z-icon-times {
    position: absolute;
    top: -4px !important;
 left: 7px !important;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 0px !important;
    margin-bottom: 0;
    text-align: right;
  }
}

.z-errorbox-left + .z-errorbox-icon {
    left: 20px !important;
    top: 3px !important;
}

.z-errorbox-icon {
    position: absolute;
    top: -3px;
    left: 7px;
}

.z-errorbox > .z-errorbox-icon {
    font-size: 14px;
    color: #900;
    position: absolute;
    top: 4px;
    left: 12px;
    z-index: 2;
}

z-icon-exclamation-triangle{
  -webkit-padding-start: 12px !important;
}

.z-bandbox-popup{
 margin-top:-20px !important;
  padding-top: 2px !important; 
}

.z-bandbox-popup>.z-textbox{
margin-bottom: 2px !important;
height:28px  !important;
}

.z-listbox {
 margin-top:2px;
}

.z-listheader-sort .z-listheader-sorticon {
    color: #636363;
    position: absolute;
    top: -13px;
    left: 95%;
}

.terms {
	padding:15px;
}


.z-notification-content {
    font-family: Arial,Sans-serif;
    font-size: 11px;
    font-weight: normal;
    width: auto;
    min-height: 100px;
    -moz-border-radius: 10px;
    border-radius: 4px;
    padding: 15px 18px 15px 45px;
    position: relative;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    line-height: 21px;
    max-width: 300px;
}
.z-notification-icon.z-icon-info-circle {
    font-size: 24px;
    margin-top: -42px;
    left: 19px;
}


.z-notification-info .z-notification-content {
    background: rgb(213, 129, 35);
}

.z-notification-icon.z-icon-times-circle, .z-notification-icon.z-icon-exclamation-circle, .z-notification-icon.z-icon-info-circle {
    font-size: 24px;
    margin-top: -42px;
    left: 20px;
    -webkit-margin-start: -14px !important;
}

.alert-warning {
    color: #BA6C15;
    background-color: #FFD580;
    border-color: #E7A93D;
}

.z-loading-indicator {
    padding: 6px;
    line-height: 16px !important;
}

.z-notification {
    z-index: 1 !important;
}

.form-control {    padding: 4px 12px !important; }


.forced-width > input {
	width:100% !important;
}

.z-datebox{
	width: calc(100% - 30px)  !important;
}

.forced-combo  {
	width:100% !important;
}


.forced-combo > .z-combobox {
	width:100% !important;
}

.forced-combo > .z-combobox > input {
	width: calc(100% - 30px)  !important;
}

.z-calendar{
	width:300px !important;
}

.z-datebox-open{
	width:305px !important;
}


@media (min-width: 768px)and (max-width:992px){
    	.btn-gabung{margin-top:10px; margin-bottom:30px;}
    	
    	.wtm-special {
    	font-size:14px !important;
    	}
}

@media (min-width: 993px)and (max-width:1200px){
    	
    	.wtm-special {
    	font-size:14px !important;
    	}
}	




   
                