.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 6px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.button-upload{
	position: absolute !important;
margin-left: -52px;
width: 58px;
height: 33px;
margin-top: -4px;
border: transparent;
background: transparent !important;
}

section {
        
         
    }
    
    @media only screen and (min-width: 1170px) {
        
    }
    
    .cd-breadcrumb li,
    .cd-multi-steps li {
        display: inline-block;
        float: left;
        margin: 0.5em 0;
    }
    
    .cd-breadcrumb li:last-of-type::after,
    .cd-multi-steps li:last-of-type::after {
        /* hide separator after the last item */
        display: none;
    }
    
    .cd-breadcrumb li > *,
    .cd-multi-steps li > * {
        /* single step */
        display: inline-block;
        font-size: 1.4rem;
        color: #2c3f4c;
    }
    /* -------------------------------- 

Custom icons hover effects - breadcrumb and multi-steps

-------------------------------- */
    
    @media only screen and (min-width: 768px) {
        .no-touch .cd-breadcrumb.triangle.custom-icons li:first-of-type a:hover::before,
        .cd-breadcrumb.triangle.custom-icons li.current:first-of-type em::before,
        .no-touch .cd-multi-steps.text-center.custom-icons li:first-of-type a:hover::before,
        .cd-multi-steps.text-center.custom-icons li.current:first-of-type em::before {
            /* change custom icon using image sprites - hover effect or current item */
            background-position: 0 -40px;
        }
        .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(2) a:hover::before,
        .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(2) em::before,
        .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(2) a:hover::before,
        .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(2) em::before {
            background-position: -20px -40px;
        }
        .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(3) a:hover::before,
        .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(3) em::before,
        .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(3) a:hover::before,
        .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(3) em::before {
            background-position: -40px -40px;
        }
        .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(4) a:hover::before,
        .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(4) em::before,
        .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(4) a:hover::before,
        .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(4) em::before {
            background-position: -60px -40px;
        }
    }
    /* -------------------------------- 

Multi steps indicator 

-------------------------------- */
    
    .cd-multi-steps {
        /* reset style */
        background-color: transparent;
        padding: 0;
        text-align: center;
    }
    
    .cd-multi-steps li {
        position: relative;
        float: none;
        margin: 0.4em 40px 0.4em 0;
    }
    
    .cd-multi-steps li:last-of-type {
        margin-right: 0;
    }
    
    .cd-multi-steps li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        content: '';
        height: 4px;
        background: #edeff0;
        /* reset style */
        margin: 0;
    }
    
    .cd-multi-steps li.visited::after {
        background-color: #F37F1D;
    }
    
    .cd-multi-steps li > *,
    .cd-multi-steps li.current > * {
        position: relative;
        color: #2c3f4c;
    }
    
    .cd-multi-steps.custom-separator li::after {
        /* reset style */
        height: 4px;
        background: #edeff0;
    }
    
    .cd-multi-steps.text-center li::after {
        width: 100%;
        top: 50%;
        left: 100%;
        -webkit-transform: translateY(-50%) translateX(-1px);
        -moz-transform: translateY(-50%) translateX(-1px);
        -ms-transform: translateY(-50%) translateX(-1px);
        -o-transform: translateY(-50%) translateX(-1px);
        transform: translateY(-50%) translateX(-1px);
    }
    
    .cd-multi-steps.text-center li > * {
        z-index: 1;
        padding: .6em 1em;
        border-radius: .25em;
        background-color: #edeff0;
    }
    
    .no-touch .cd-multi-steps.text-center a:hover {
        background-color: #2c3f4c;
    }
    
    .cd-multi-steps.text-center li.current > *,
    .cd-multi-steps.text-center li.visited > * {
        color: #ffffff;
        background-color: #F37F1D;
    }
    
    .cd-multi-steps.text-center.custom-icons li.visited a::before {
        /* change the custom icon for the visited item - check icon */
        background-position: 0 -60px;
    }
    
    .cd-multi-steps.text-top li,
    .cd-multi-steps.text-bottom li {
        width: 150px;
        text-align: center;
    }
    
    .cd-multi-steps.text-top li::after,
    .cd-multi-steps.text-bottom li::after {
        /* this is the line connecting 2 adjacent items */
        position: absolute;
        left: 50%;
        /* 40px is the <li> right margin value */
        width: calc(100% + 40px);
    }
    
    .cd-multi-steps.text-top li > *::before,
    .cd-multi-steps.text-bottom li > *::before {
        /* this is the spot indicator */
        content: '';
        position: absolute;
        z-index: 1;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #edeff0;
    }
    
    .cd-multi-steps.text-top li.visited > *::before,
    .cd-multi-steps.text-top li.current > *::before,
    .cd-multi-steps.text-bottom li.visited > *::before,
    .cd-multi-steps.text-bottom li.current > *::before {
        background-color: #F37F1D;
    }
    
    .no-touch .cd-multi-steps.text-top a:hover,
    .no-touch .cd-multi-steps.text-bottom a:hover {
        color: #F37F1D;
    }
    
    .no-touch .cd-multi-steps.text-top a:hover::before,
    .no-touch .cd-multi-steps.text-bottom a:hover::before {
        box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
    }
    
    .cd-multi-steps.text-top li::after {
        /* this is the line connecting 2 adjacent items */
        bottom: 4px;
    }
    
    .cd-multi-steps.text-top li > * {
        padding-bottom: 20px;
    }
    
    .cd-multi-steps.text-top li > *::before {
        /* this is the spot indicator */
        bottom: 0;
    }
    
    @media only screen and (max-width: 768px) {
        .cd-multi-steps.text-top li.visited > *::before,
        .cd-multi-steps.text-top li.current > *::before,
        .cd-multi-steps.text-bottom li.visited > *::before,
        .cd-multi-steps.text-bottom li.current > *::before {
            background-image: url('assets/img/ok.png');
            background-color: transparent;
            margin-bottom: -5px;
            width: 25px;
            height: 25px;
        }

           .cd-multi-steps.text-top li > *::before,
    .cd-multi-steps.text-bottom li > *::before{
      background-image: url('assets/img/ok-grey.png');
            background-color: transparent;
            margin-bottom: -5px;
            width: 25px;
            height: 25px;
    }
        .cd-multi-steps li {
            position: relative;
            float: none;
            margin: 0.4em 0px 0.4em 0;
        }
        .cd-multi-steps.text-top li::after,
        .cd-multi-steps.text-bottom li::after {
            /* this is the line connecting 2 adjacent items */
            display: none;
        }
        .cd-multi-steps.text-top li,
        .cd-multi-steps.text-bottom li {
            width: 150px;
            text-align: center;
            margin-left: 20px;
        }
        .cd-multi-steps {
            text-align: center;
        }
    }