@font-face {
	font-family: 'tbold';
	src: url('../font/tbold/TBold.eot');
	src: local('☺'), url('../font/tbold/TBold.woff') format('woff'), url('../font/tbold/TBold.ttf') format('truetype'), url('../font/tbold/TBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'tlight';
	src: url('../font/tlight/TLight.eot');
	src: local('☺'), url('../font/tlight/TLight.woff') format('woff'), url('../font/tlight/TLight.ttf') format('truetype'), url('../font/tlight/TLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

a, a:hover, a:focus {
    color: white;
    text-decoration: none;
}
.judul_section {
 letter-spacing: 10px;
 font-size: 40px;
 font-weight: 900;
 font-family: 'tbold';
}

@media (max-width:768px){
	
	.judul_section {
		letter-spacing: 2px;
		font-size: 40px;
		font-weight: 900;
		font-family: 'tbold';
	}
	
}