.nav li a {
    font-family: tlight,sans-serif;
    font-size: 22px;
}

.logo {
    position: absolute;
    z-index: 7;
       padding: 0px 15px;
    border-radius: 50px;
    width: 400px;
    left: 5%;
    top: 20px;
}

.logo img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
/*menu header*/
.menu-header .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar {
    margin-bottom: 0px;
}


.nav-orange.navbar-nav li.form_login {
    margin: 0px 10px;
}
.navbar-default .nav-orange.navbar-nav > li > a {
        color: #5c5c5c;
    letter-spacing: 0.3px;
    /*font-size: 22px;*/
}
.navbar-default .nav-orange.navbar-nav > li > a:hover {
    color: #f39129;
}
.nav-orange.navbar-nav >li.form_login a {
    background: #fd7c05;
    padding: 3px 15px;
    border-radius: 8px;
    color: white;
}
.nav-orange.navbar-nav >li.form_login a:hover {
    background: #e6e5e5;
    color: #fd7c05;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand img,.navbar-brand img{
    width:240px;
    margin: 0px 40px;
}
.nav-bar-true-a.navbar-default {
    background-color: rgba(255,255,255,0.98);
}
ul.nav.nav-orange.navbar-nav {
    align-items: center;
    float: none;
    padding: 5px 0px;
    margin:0 auto;
}

.nav-collapse {
    text-align: CENTER;
    display: flex;
    align-items: center;
}
.box-menu {
    width: 100%;
}
li.li-brand {
    width: 220px;
        margin: 0 auto;
}

a.navbar-brand {
    float: none;
    padding: 0px 0px;
}
div#box_header {
    height: 80%;
    perspective: 1500px;
    background: #ac2525;
    /*max-height:500px;*/
}

@media screen and (orientation:landscape) and  (max-width:720px) {
  div#box_header {
      transform: translateY(40px);
      -webkit-transform: translateY(40px);
      height: 100%;
      perspective: 1500px;
      background: #ac2525;
      /*max-height:500px;*/
  }
 }

  @media screen and (orientation:portrait) {
    div#box_header {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        height: 40%;
        margin-top: 30px;
        perspective: 1500px;
        background: #ac2525;
        /*max-height:500px;*/
    }
  }

header{

    perspective: 1000px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

}
header.out{

    webkit-transform: translate3d(-16vw, 0, -50vw) rotateY(10deg);
    transform: translate3d(-16vw, 0, -50vw) rotateY(10deg);


}
header .i-nav {
    position: absolute;
    top: 50%;
    font-size: 35px;
    color: white;
    cursor: pointer;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
}

header .i-nav.nav-left {
    left: 20px;
}

header .i-nav.nav-right {
    right: 20px;
}
.button_frame a {
    display: block;
    float: left;
}

.button_frame a:hover h2 {
    color: #f58634;
}

.button_frame a:hover {
    z-index: 2;
}
.button_frame {
    position: fixed;
    background: rgba(0, 0, 0, 0.72);
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
    left: 50%;
    transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
    bottom: 50px;
    border: 1px solid white;
}
.button_frame .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    height: 69%;
    width: 3px;
    background: white;
}
.button_frame h2.masuk {
}
.button_frame h2.daftar {
}
.button_frame h2 {
    display: inline-block;
    margin: 0px;
    font-size: 27px;
    font-weight: 0;
    padding: 10px 41px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}
.button_frame h2:hover {
}
.header.slider_full {
    position: static;
    width: 100%;
    overflow: hidden;
    height:100%;
}
.header.slider_full .content{
        background: #f58634;
    height:100%;
    position:relative;
    overflow: hidden;
}
.header.slider_full .content > img {
    width: 100%;
}

    .header.slider_full .content .brand {
        position: absolute;
    z-index: 6;
    bottom: 26%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
        transition:all 0.5s;
        -webkit-transition:all 0.5s;
    }

        .header.slider_full .content .brand h3 {
            display: inline-block;
            padding: 19px 25px;
            border: 5px solid white;
            color: WHITE;
            letter-spacing: 5px;
            font-weight: 700;
            margin-bottom: 5%;
            font-size: 35px;
            -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    .header.slider_full .content .button{

        background:none;

    }
        .header.slider_full .content .button p{
            -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            display: inline-block;
            padding: 6px 23px;
            margin: 0;
            margin: 10px 20px;
            color: white;
            letter-spacing: 2px;
            font-size: 16px;
            font-weight: 700;
            cursor:pointer;
        }
            .content .button p.sign_up{
                background:rgb(255, 106, 0);
            }
            .content .button p.sign_in{
                background:orange;
            }
    .bot-frame {
        position: absolute;
        bottom: 16%;
        z-index: 2;
        overflow: hidden;
        width:100%;
        transform: translateY(50%);
    }

    header {
        width: 100%;
        position: relative;
        height:100%;
        overflow:hidden;
    }

    header img.frame_2 {
        position: absolute;
        bottom: -15%;
        width: 71.5%;
        max-height: 9.8vw;
        right: 0;
    }
    header img.frame_1 {
        width: 28.5%;
        position: absolute;
        left: 0;
        bottom: -15%;
        max-height: 33vw;
    }

/*owll theme*/
    header .owl-theme .owl-dots {
        text-align: center;
        -webkit-tap-highlight-color: transparent;
        position: absolute;
        bottom: 5px;
        width: 80%;
        max-width: 1024px;
        left: 50%;
        transform: translateX(-50%);
        z-index:3;
    }
    header .owl-theme .owl-dots .owl-dot.active span, header .owl-theme .owl-dots .owl-dot:hover span {
        background: rgba(255, 255, 255, 0.82);
        border: 0px solid blanchedalmond;
    }

    header .owl-theme .owl-dots .owl-dot span {
        cursor:pointer;
        width: 100px;
        height: 10px;
        margin: 5px 7px;
        background: rgba(0, 0, 0, 0.35);
        display: block;
        border: 0px solid blanchedalmond;
        -webkit-backface-visibility: visible;
        -webkit-transition: opacity 200ms ease;
        -moz-transition: opacity 200ms ease;
        -ms-transition: opacity 200ms ease;
        -o-transition: opacity 200ms ease;
        transition: opacity 200ms ease;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }
    header .owl-stage-outer {
    height: 100%;
    }

    header .owl-stage {
        height: 100%;
    }
    header .owl-item {
        height: 100%;
    }

    header .owl-carousel .owl-item img {
        position: ABSOLUTE;
        right: 0;
        height: 100%;
        width: auto;
    }
  header .owl-carousel .owl-item img.text__2{
    width: 27%;height: auto;left: 40%;top: 71%;
  }
    .show-768{

        display:none!important;

    }
  .navbar-header.mobile{
    display: none;
  }
  ul.nav.nav-orange.navbar-nav {
    display: inline-flex;
  }
@media (max-width:1280px){
    div#box_header {
    background:white;
    }
    header {
    }

    header img.frame_1 {
        bottom:-15%;
        max-height:none!important;
    }
    header img.frame_2 {
     bottom:-15%;
     max-height:none;
    }
    .bot-frame {
        position: absolute;
        bottom: 25%;
        z-index: 2;
        overflow: hidden;
        transform: translateY(50%);
        max-height:none;
    }
    header .owl-theme .owl-dots {
    bottom: 5px;
    }
    .header.slider_full .content .brand{
        bottom:54px;
    }
}
@media (max-width: 1115px){
header .owl-carousel .owl-item img.text__2 {
    width: 25%;
    height: auto;
    left: 35%;
    top: 60%;
}}
@media (max-width:920px) and (min-width: 768px){
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand img, .navbar-brand img {
    margin: 0px;
}
.nav-orange.navbar-nav li.form_login {
    margin: 12px 10px;
     display: block;
}
ul.nav.nav-orange.navbar-nav {
  display: block;
}
}
@media (max-width:906px) {
  header .owl-carousel .owl-item img.text__2{
    width: 45%;
    height: auto;
    left: 5%;
    top: 30%;
  }
}
@media (max-width:767px){
        .show-768{

        display:block!important;

        }
        .hide-768{
            display:none!important;
        }
        #box_header{
                margin-top: 30px;
        }
        .logo {
            position: absolute;
            z-index: 7;
            padding: 0px 15px;
            border-radius: 50px;
            width: 250px;
            left: 0px;
            top: 0px;
        }
        .header.slider_full .content .brand h3 {
                display:none;
        }
        header.out{

            webkit-transform: translate3d(0, 0, 0) rotateY(0);
            transform: translate3d(0, 0, 0) rotateY(10deg);
        }
    ul.nav.nav-orange.navbar-nav {
        display: block;
    }
    ul.nav.nav-orange.navbar-nav li {
        margin-left: 0;
    }
      body{overflow-x: hidden;}
    .nav-collapse {
        display: block;
        transition: all 0.3s;
    }
    .menu-header{
      width: 100%;
        position: absolute;
    }
    .navbar-header, a.navbar-brand, .navbar > .container-fluid .navbar-brand img,.navbar-brand img {
        margin: 0 auto;
    }
    .nav-orange.navbar-nav >li.form_login a{
      padding: 5px;
      max-width: 100px;
      margin: 0 auto;
    }
    .nav-orange.navbar-nav li.form_login {
        margin: 10px;
        margin-right: 0;
    }
    .nav-bar-true-a.navbar-default {
        position: fixed;
        z-index: 5;
        transform: translateY(-120%);
         -webkit-transform: translateY(-120%);
       /*  height: 330px; */
        width: 100%;
        transition: all 1s;
    }
    .nav-bar-true-a.navbar-default.active {
        transform: translateY(20px);
        transition: all 1s;
    }
    .navbar-header.mobile {
      display: block;
        z-index: 6;
        width: 100%;
        height: 50px;
/*         margin-top: 10px; */
    padding:5px 0px;
        position: fixed;
        background:rgba(255, 255, 255, 0.98);
            border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        top: 0;
    }
    .navbar-header.mobile.active{
      position: fixed;
   
      top: 0
    }
    .overlay-logo{
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 50px;
    cursor: pointer;
    top: 0;
    }
    .box-menu {
        width: 100%;
        position: relative;
        opacity: 0;
        transition: all 0.3s;
    }
    .box-menu.active {
        width: 100%;
        position: relative;
        opacity: 1;    margin-top: 50px;
        transition: all 0.3s;
    }
    .navbar-nav > li > a {
    padding-top: 5px;padding-bottom: 5px;
}

}
@media (max-width:585px){
  .button_frame h2 {
      padding: 5px 7px;
      font-size:20px;
  }
}
@media (max-width:500px){
    .logo {
        position: absolute;
        z-index: 7;
        padding: 0px 15px;
        border-radius: 50px;
        width: 150px;
        left: 0px;
        top: 0px;
    }
  header .owl-carousel .owl-item img.text__2{
    width: 85%;
  }
}

@media (max-width:425px){
    .header.slider_full .content .brand {
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
    header .owl-theme .owl-dots {
        display:none!important;
    }

}
