.head-menu {
    position: fixed;
    z-index: 99;
    right: 129px;
    top: 119px;
    color: #ff6600;
}
.head-menu.out {
    opacity: 0;
}
/* ========================================================================
 1.3 Component: Fullscreen menu
 ========================================================================== */
 .hamburger {
    top: 11px;
    left: 22px;
    position: absolute;
}
.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.mid-animate {
  opacity: 0;
}
.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg);
}
.top-menu,
.mid-menu,
.bottom-menu {
  width: 28px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
}
.top-menu {
  top: 5px;
}
.mid-menu {
  top: 13px;
}
.bottom-menu {
  top: 21px;
}
.menui {
  background: #f60;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute;
}
.menu-trigger {
    z-index: 999;
    position: fixed;
    display: block;
    padding: 9px;
    height: 70px;
    width: 70px;
    transition: all 1s;
    margin: 0px;
    top: 45px;
    right: 115px;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 50%;
}
.menu-trigger.out{
	background:transparent;
	top: 0;
	right: 10px;
}
.mobilenav.out{
	 webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)!important;
	 webkit-transform: translateX(0px)!important;
    webkit-transform: translateX(0px)!important;
}
.mobilenav {
  font-family: inherit;
  top: 0;
  right: 0;
  z-index: 999;
  display:;
  position: fixed;
  width: 300px;
  height: 100%;
  background: rgba(244, 129, 32, 0.75);
  -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
	 -webkit-transform: translateX(100%);
    transform:  translateX(100%);
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.mobilenav.out{
	 webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	 webkit-transform: translateX(0px);
    webkit-transform: translateX(0px);
}
.mobilenav ul {
	 -webkit-transition: all 1s;
    transition: all 1s;
	-webkit-animation-delay: 0.9s; /* Chrome, Safari, Opera */
    animation-delay: 0.9s;
}
.mobilenav.out ul {
    margin-top: 0;
    margin-bottom: 10px;
    -webkit-padding-start: 0px;
}
.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 200px;
  display: block;
  margin: 0 auto;
}
.mobilenav li:last-child span {
  border-bottom: none;
}
.mobilenav li:hover {
  cursor: pointer;
}
.mobilenav li:hover .nav-label {
    border-bottom: 1px solid #FF9800;
    transform: scale(0.9);
}

.nav-label {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    display: block;
    width: 150px;
    margin: 0 auto;
    transition: all 1s;
}
.mobilenav li:first-child {
  margin-top: 60px;
}
.mobilenav .soc_med {
    display: flex;
    max-width: 200px;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
    margin: 0 auto;
}
.mobilenav .soc_med i.fa {
    text-align: center;
    font-size: 16px;
    display: block;
    padding: 10px;
    width: 36px;
    margin-right: 20px;
    border-radius: 50%;
    background: white;
    color: #cb7b48;
    cursor: pointer;
    margin: 0 auto;
}
.mobilenav .soc_med a {
    width: 33.3%;
    text-align: center;
}
/* ========================================================================
 1.4 Hover animation by hover.css http://ianlunn.github.io/Hover/
 ========================================================================== */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 152, 219, 0.9);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen
and (max-device-width : 768px){
		.menu-trigger {
			z-index: 999;
			position: fixed;
			display: block;
			padding: 9px;
			height: 50px;
			width: 50px;
			transition: all 1s;
			margin: 0px;
			top: 5px;
			right: 5px;
			background: rgba(255, 255, 255, 0.72);
			border-radius: 50%;
		}
			.hamburger {
				top: 1px;
				left: 11px;
				position: absolute;
			}
			.head-menu {
				position: fixed;
				z-index: 99;
				right: 8px;
				top: 55px;
				color: #ff6600;
			}
	
}