<zk xmlns:c="client" xmlns:n="native" xmlns:x="xhtml" xmlns:zk= "zk">

	<window id = "wndHeader" use="com.truemoneywitami.function.RedirectMenu">
		 <n:nav class="navbar navbar-default navbar-fixed-top navbar-cool navbar-default-admin" role="navigation">
        <n:div class="container">
            <n:div class="navbar-header page-scroll">
                <n:button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <n:span class="sr-only">Toggle navigation</n:span>
                    <n:span class="icon-bar"></n:span>
                    <n:span class="icon-bar"></n:span>
                    <n:span class="icon-bar"></n:span>
                </n:button>
                <a class="navbar-n:br/and page-scroll" href="#">
                    <n:img alt="Witami True Money" src="assets/img/logo.png"/>
                </a>
            </n:div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <n:div class="collapse navbar-collapse navbar-ex1-collapse navbar-administrator">
                <n:ul class="nav navbar-nav navbar-right navbar-special navbar-admin">
                    <n:li>
                        <n:div class="dropdown dropdown-user">
                            <x:button
									class="btn btn-default navbar-btn btn-xs btn-daftar dropdown-toggle tombol-user" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Notifikasi" zk:onClick='setQuickViewMessage(wndHeader)'>
									<n:span class="glyphicon glyphicon-bell" aria-hidden="true"></n:span><span id="spanPesan" class="badge"><label id="labelPesan" value="0" style="font-size:10px;"/></span><span class="dropdown-text"><space />Notifikasi</span>
								</x:button>
                           <n:ul class="dropdown-menu right-menu dropdown-message" aria-labelledby="dropdownMenu1">
									<div id="rowBodyNotif" />
									<n:li class="notif-msg text-center"
										style="border-bottom:none;">
										<a
											onClick='setMenu("allmessages")'
											style="padding-bottom:10px !important;">
											<n:span
												class="notif-date">
												Lihat Semua Pemberitahuan
											</n:span>
										</a>
									</n:li>
								</n:ul>
                        </n:div>
                    </n:li>
                    <n:li>
                        <n:div class="dropdown dropdown-user">
                            <x:button
									class="btn btn-default navbar-btn btn-xs btn-daftar dropdown-toggle tombol-user" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Pesan" zk:onClick='setQuickViewNotif(wndHeader)'>
									<n:span class="glyphicon glyphicon-envelope" aria-hidden="true"></n:span><span id = "spanNotif" class="badge"><label id="labelNotif" value="0" style="font-size:10px;" class="notif-number"/></span><span class="dropdown-text"> <space /> Pesan </span>
								</x:button>
                            <n:ul class="dropdown-menu right-menu dropdown-message" aria-labelledby="dropdownMenu1">
									<div id="rowBodyMessage" />
									<n:li class="notif-msg text-center"
										style="border-bottom:none;">
										<a
											onClick='setMenu("allnotification")'
											style="padding-bottom:10px !important;">
											<n:span
												class="notif-date">
												Lihat Semua
												Pesan
											</n:span>
										</a>
									</n:li>
								</n:ul>
                        </n:div>
                    </n:li>
                    <n:li>
                        <n:div class="dropdown dropdown-user">
                            <n:button class="btn btn-default navbar-btn btn-xs btn-daftar dropdown-toggle tombol-user" type="button" id="dropdownMenu123" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <n:span class="glyphicon glyphicon-user" aria-hidden="true"></n:span>Profil Saya
                                <n:span class="caret"></n:span>
                            </n:button>
                            <n:ul class="dropdown-menu right-menu" aria-labelledby="dropdownMenu1">
                                <n:li><a onClick='setMenu("profilemember")'>Info Profil<n:span class="glyphicon glyphicon-user custom-icon" aria-hidden="true"></n:span> </a>
                                </n:li>
                                <!--  <n:li>
                                    <a onClick='setMenu("profilememberedit")'> <n:span class="glyphicon glyphicon-pencil custom-icon" aria-hidden="true"></n:span> <space/> Edit Profil</a>
                                </n:li>-->
                                <n:li>
                                    <a onClick='setMenu("changepin")'> <n:span class="glyphicon glyphicon-asterisk custom-icon" aria-hidden="true"></n:span> <space/> Ganti PIN</a>
                                </n:li>
                                <n:li>
                                    <a onClick='setMenu("changepassword")'> <n:span class="glyphicon glyphicon-lock custom-icon" aria-hidden="true"></n:span> <space/> Ganti Password</a>
                                </n:li>
                                <n:li style="border-top:1px solid #f1f1f1;">
                                    <a onClick="logout()"> <n:span class="glyphicon glyphicon-log-out custom-icon" aria-hidden="true"></n:span> <space/> Log Out / Keluar </a>
                                </n:li>
                                 
                            </n:ul>
                        </n:div>
                    </n:li>
                    <n:li class="bahasa"><n:a href="#01" style="padding-right:0px !important;" title="Bahasa Indonesia">IND<n:span style="color:#666"> | </n:span></n:a></n:li>
                    <n:li class="bahasa"><n:a href="#02" style="padding-left:0px;  color: #777 !important;" title="Bahasa Inggris">ENG</n:a></n:li>
                </n:ul>
            </n:div>
            <!-- /.navbar-collapse -->
        </n:div>
        <!-- /.container -->
    </n:nav>
		<n:div class="container-fluid">
			<n:div class="row"></n:div>
		</n:div>
		<n:section id="" class="grey adm-page">
			<n:div class="container-fluid">
				<n:div class="row">
					<n:div class="">
						<n:div class="row">
							<n:div class="menu-wrapper">
								<n:div id="MainMenu">
									<n:div
										class="list-group panel tm-panel">
										<a onClick='setMenu("inforekeningmember")'
											class="list-group-item list-group-item-success tm-list-group-item">
											<space />
											<n:span>
												<n:img class="true-icon"
													src="assets/icons/Rekening.svg" />
											</n:span>
												Informasi Rekening
										</a>
										<a onClick='setMenu("deposit")'
											class="list-group-item list-group-item-success tm-list-group-item">
											<n:span>
												<n:img class="true-icon"
													src="assets/icons/TambahDeposit.svg" />
											</n:span>
											Tambah Deposit
										</a>

										<n:a href="#pembelian"
											class="list-group-item list-group-item-success tm-list-group-item"
											data-toggle="collapse" data-parent="#MainMenu">
											
											<n:span>
												<n:img class="true-icon"
													src="assets/icons/Pembelian.svg" />
											</n:span>
											Pembelian
											<n:span class="caret"></n:span>
										</n:a>
										<n:div class="collapse"
											id="pembelian">
											<a onClick='setMenu("pembelianpulsa")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/Pulsa.svg" />
												</n:span>
												Pulsa
											</a>
											
											<!--
											<a onClick='setMenu("pembeliangames")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/Games.svg" />
												</n:span>
												Games
											</a> 
											 -->
											
											<a onClick='setMenu("pembelianpln")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/Bulb.svg" />
												</n:span>
												Token PLN
											</a>
											
											<!-- 
											<a onClick='setMenu("pembeliantv")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/TV.svg" />
												</n:span>
												TV
											</a>
											 -->
											
										</n:div>
										<n:a href="#pembayaran"
											class="list-group-item list-group-item-success tm-list-group-item"
											data-toggle="collapse" data-parent="#MainMenu">
											
											<n:span >
												<n:img class="true-icon"
													src="assets/icons/Pembayaran.svg" />
											</n:span>
											Pembayaran
											<n:span class="caret"></n:span>
										</n:a>
										<n:div class="collapse"
											id="pembayaran">
											<a onClick='setMenu("pembayaranpln")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/PLN.svg" />
												</n:span>
												PLN
											</a>
											
											<a onClick='setMenu("pembayaranpdam")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/PDAM.svg" />
												</n:span>
												PDAM
											</a>
											
											
											
											<a onClick='setMenu("pembayaranpulsa")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/Pulsa.svg" />
												</n:span>
												Telepon/Seluler
											</a>
											
											<!-- 
											<a onClick='setMenu("pembayarantelepon")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/Telephone.svg" />
												</n:span>
												Telepon/HP
											</a>
											 -->
											
											
											
											<a onClick='setMenu("pembayaraninternet")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/Internet.svg" />
												</n:span>
												Internet
											</a>
											
											<!-- 
											<a onClick='setMenu("pembayarantv")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/TV.svg" />
												</n:span>
												TV Kabel
											</a>
											 -->
											
											<a onClick='setMenu("pembayaranbpjs")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/bpjs.svg" />
												</n:span>
												BPJS Kesehatan
											</a>
											
											<!-- 
											<a onClick='setMenu("pembayaranmultifinance")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/multifinance.svg" />
												</n:span>
												MultiFinance
											</a>
											 -->
											
										</n:div>
										<n:a href="#transfer"
											class="list-group-item list-group-item-success tm-list-group-item"
											data-toggle="collapse" data-parent="#MainMenu">
											
											<n:span>
												<n:img class="true-icon"
													src="assets/icons/Transfer.svg" />
											</n:span>
											Transfer
											<n:span class="caret"></n:span>
										</n:a>
										<n:div class="collapse"
											id="transfer">
											<a onClick='setMenu("truehome")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/True.svg" />
												</n:span>
												True ke True
											</a>
											<a onClick='setMenu("truebank")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/Bank.svg" />
												</n:span>
												True ke Bank
											</a>
											
											<!-- 
											<a onClick='setMenu("truepos")'
												class="list-group-item child-item">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/Pos.svg" />
												</n:span>
												True ke Pos
											</a>
											 -->
											
										</n:div>
									</n:div>
								</n:div>
							</n:div>
						</n:div>
						<n:div
							class="col-lg-10 col-md-9 col-sm-8 col-xs-12 content-area div-content">
							<n:div class="row">
								<n:div class="col-xs-12">
									<a onClick='setMenu("inforekeningmember")'>
										<n:div class="menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/Rekening.svg" />
											</n:span>
											Informasi Rekening
										</n:div>
									</a>
									<a onClick='setMenu("deposit")'>
										<n:div class="menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/TambahDeposit.svg" />
											</n:span>
											Tambah Deposit
										</n:div>
									</a>
									<n:a class="menu-inside"
										role="button" data-toggle="collapse" href="#collapseExample"
										aria-expanded="false" aria-controls="collapseExample">
										<n:span>
											<n:img class="true-icon true-icon2"
												src="assets/icons/Pembelian.svg" />
										</n:span>
										Pembelian
										<n:span class="caret"></n:span>
									</n:a>
									<n:div class="collapse"
										id="collapseExample">
										<div onClick='setMenu("pembelianpulsa")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/Pulsa.svg" />
											</n:span>
											Pulsa
										</div>
										
										<!--
										<div onClick='setMenu("pembeliangames")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/Games.svg" />
											</n:span>
											Games
										</div> 
										 -->
										
										<div onClick='setMenu("pembelianpln")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/Bulb.svg" />
											</n:span>
											Token PLN
										</div>
										
										<!-- 
										<div onClick='setMenu("pembeliantv")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/TV.svg" />
											</n:span>
											TV
										</div>
										 -->
										
									</n:div>
									<n:a class="menu-inside"
										role="button" data-toggle="collapse" href="#collapseExample2"
										aria-expanded="false" aria-controls="collapseExample2">
										<n:span>
											<n:img class="true-icon true-icon2"
												src="assets/icons/Pembayaran.svg" />
										</n:span>
										Pembayaran
										<n:span class="caret"></n:span>
									</n:a>
									<n:div class="collapse"
										id="collapseExample2">
										<div onClick='setMenu("pembayaranpln")' class="well menu-inside">
											<span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/PLN.svg" />
											</span>
											PLN
										</div>
										
										<div onClick='setMenu("pembayaranpdam")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/PDAM.svg" />
											</n:span>
											PDAM
										</div>
										
										
										
										
										<div onClick='setMenu("pembayaranpulsa")' class="well menu-inside">
											<span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/Pulsa.svg" />
											</span>
											Telepon/Seluler
										</div>
										
										<!-- 
										<div onClick='setMenu("pembayarantelepon")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/Telephone.svg" />
											</n:span>
											Telepon/HP
										</div>
										 -->
										
										
										<div onClick='setMenu("pembayaraninternet")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/Internet.svg" />
											</n:span>
											Internet
										</div>
										
										<!-- 
										<div onClick='setMenu("pembayarantv")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/TV.svg" />
											</n:span>
											TV Kabel
										</div>
										 -->
										
										
										 
										
										<div onClick='setMenu("pembayaranbpjs")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/bpjs.svg" />
											</n:span>
											BPJS Kesehatan
										</div>
										
										<!-- 
										<div onClick='setMenu("pembayaranmultifinance")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/multifinance.svg" />
											</n:span>
											MultiFinance
										</div>
										 -->
										
										
									</n:div>
									
									<n:a class="menu-inside"
										role="button" data-toggle="collapse" href="#collapseExample3"
										aria-expanded="false" aria-controls="collapseExample3">
										<n:span>
											<n:img class="true-icon true-icon2"
												src="assets/icons/Transfer.svg" />
										</n:span>
										Transfer
										<n:span class="caret" />
									</n:a>
									<n:div class="collapse"
										id="collapseExample3">
										<div onClick='setMenu("truehome")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/True.svg" />
											</n:span>
											True ke True
										</div>
										<div onClick='setMenu("truebank")' class="well menu-inside">
											<n:span>
												<n:img class="true-icon true-icon2"
													src="assets/icons/Bank.svg" />
											</n:span>
											True ke Bank
										</div>
										
										<!-- 
										<div onClick='setMenu("truepos")' class="well menu-inside">
												<n:span>
													<n:img
														class="true-icon" src="assets/icons/Pos.svg" />
												</n:span>
												True ke Pos
										</div>
										 -->
										
									</n:div>
									
								</n:div>
							</n:div>
							 <!--  <n:div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 content-area div-content">
								 <n:div class="row">
									 <include id="inclBody" src = "" />
									 
							</n:div>-->
							
							<!--  <n:div class="row">
								<div sclass="col-lg-8 col-md-8 col-sm-12 col-xs-12">
									<div sclass="box-well text-center">
										<include id="inclBody" src = "" />
									</div>
								</div>
							</n:div>-->
							<n:div class="row">
							<include id="inclBody" src = "" />
								
							</n:div>
						</n:div>
					</n:div>
				</n:div>
			</n:div>
		</n:section>
		 <a onClick='setMenu("admin-contact")' >
			<n:div class="true-contact-lg">
				<n:span
					class="glyphicon glyphicon glyphicon-earphone custom-icon-contact"
					aria-hidden="true">
				</n:span>
				|
				<n:span
					class="glyphicon glyphicon glyphicon-envelope custom-icon-contact"
					aria-hidden="true">
				</n:span>
				<space/>Hubungi TrueMoney Witami

			</n:div>
		</a> 
		<n:div class="menu-footer">
			©True Money <n:span id="pyear">2016</n:span>. All rights reserved.
		</n:div>
		<n:a href="#" class="scrollToTop">
			<n:i class="fa fa-chevron-circle-up fa-3x "></n:i>
		</n:a>
		
		<zscript>
			<![CDATA[
				import com.truemoneywitami.function.session.mob_Session;
				wndHeader.setMenuWindow(wndHeader);
				wndHeader.setViewData(wndHeader);
				import com.truemoneywitami.function.*;
				RedirectMenu menu = new RedirectMenu();
				mob_Session sesi = new mob_Session();
				String page="";
				menu.setMenuLink("inforekeningmember",wndHeader);
				void setMenu(String link){ 
					page = link;
					if (page.equals("")){
						menu.setMenuLink("inforekeningmember",wndHeader);
					}
					else {
						menu.setMenuLink(page,wndHeader);
					}
				}
				
				void logout() {
					menu.logout();
					Sessions.getCurrent().invalidate();
					Executions.sendRedirect("/login.zul");
				}
				
				void setQuickViewMessage(Window wnd){
					System.out.println("ini quick view message!!!!!!!!!!!!!!!!!!!!!!!!");
					menu.setQuickViewMessage(wnd);
				}
				
				void setQuickViewNotif(Window wnd){
					menu.setQuickViewNotif(wnd);
				}
//				void profile(){
//					
//					String username = sesi.getUsername();
//					
//					if (username.startsWith("0")){
//						setMenu("memberprofile");
//					}
//					else {
//						setMenu("adminprofile");
//					}
//				}
//				
//				void editProfile()  {
//					String username = sesi.getUsername();
//					if (username.startsWith("0")){
//						setMenu("profilememberedit");
//					}
//					else {
//						setMenu("profileagenedit");
//					}
//				}
			]]>
		</zscript>
	</window>
	
	<n:script src="assets/js/footer_year.js"></n:script>


</zk>