<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk xmlns:n="native"  xmlns:c="client">
<window id="wnd" use="com.truemoneywitami.menu.deposit.DepositTicket">
<div sclass="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div sclass="box-well text-center">
<div class=" text-left">                      
            <div class="">
                   <div class="text-left desc-text text-center">Jumlah yang harus anda transfer, <n:b><label style="font-weight:bold" id="nominal"></label></n:b>. Terima Kasih. <n:br/>
                <n:i>(Tiga digit di belakang adalah kode unik)</n:i><n:hr style="margin:10px 0px;border-color:#E4E4E4;"/>
                Batas waktu transfer <n:b><label style="font-weight:bold" id="limit"></label></n:b>
                   </div>
                </div>
            </div>
            <n:hr/>
            
            <div class="row text-left">
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
	                         <div class="text-center logo-mandiri">
	                             <n:img class="img-responsive" src="assets/img/LOGOMANDIRI2.png" />
	                         </div>
                        </div>
                      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                         <div class="text-left desc-text">Anda dapat menambah jumlah deposit anda dengan melakukan pengiriman uang pada akun bank <n:b>TrueMoney Witami:</n:b>
                         	<n:br/>
                          	<n:b>Nama Bank : Bank Mandiri
                          		<n:br/>No Rekening : 1240000888090<n:br/> Atas Nama: PT. WITAMI TUNAI MANDIRI
                          	</n:b>
                         </div>
                     </div>
					</div>
					<n:br/>
					<div class="row text-left">
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
	                         <div class="text-center logo-mandiri">
	                             <n:img class="img-responsive" src="assets/img/LOGOBCA.png" />
	                         </div>
                        </div>
                      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                         <div class="text-left desc-text">Anda dapat menambah jumlah deposit anda dengan melakukan pengiriman uang pada akun bank <n:b>TrueMoney Witami:</n:b>
                         	<n:br/>
                          	<n:b>Nama Bank : Bank BCA
                          		<n:br/>No Rekening : 0023110889<n:br/> Atas Nama: PT. WITAMI TUNAI MANDIRI
                          	</n:b>
                         </div>
                     </div>
					</div>

           <!--   <div id="rowBody" class="row text-left">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="text-center logo-mandiri">
                        <image class="img-responsive" src="assets/img/LOGOMANDIRI.png" id="logo" />
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                   <div class="text-left desc-text">Anda dapat menambah jumlah deposit anda dengan melakukan pengiriman uang pada akun bank <n:b>TrueMoney Witami:</n:b><n:br/><n:br/>
                    <n:b>Nama Bank : <label id="bank1"></label><n:br/>No Rekening : <label id="norek1"></label><n:br/> Atas Nama: <label id="nama1"></label>
                    </n:b>
                   </div>
                </div>
            </div>
            <n:br/>
			<div id="rowBody2" class="row text-left">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="text-center logo-mandiri">
                        <image class="img-responsive" src="assets/img/LOGOBCA.png" id="logo2" />
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                   <div class="text-left desc-text">Anda dapat menambah jumlah deposit anda dengan melakukan pengiriman uang pada akun bank <n:b>TrueMoney Witami:</n:b><n:br/><n:br/>
                    <n:b>Nama Bank : <label id="bank2"></label><n:br/>No Rekening : <label id="norek2"></label><n:br/> Atas Nama: <label id="nama2"></label>
                    </n:b>
                   </div>
                </div>
            </div>-->
            <div class="row text-left">
            	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            		<div class="text-left">
            			<a class="download-text" onClick="wnd.cetakStruk(wndReport)"> <n:span class="glyphicon glyphicon-print" aria-hidden="true"></n:span> Download bukti dalam bentuk PDF</a>
                    </div>
                </div>
            </div>
            </div></div>
            <zscript>
		<![CDATA[
		         wnd.setData(wnd);
		]]>
</zscript>	
</window>

<window position="center" mode="highlighted" visible="false" id="wndReport" title="" border="none" use="">
		<separator spacing="20px" />
			<vlayout style="margin:0px 0px 0px 10px">
			
				<hlayout>
					<button label="Tutup"  sclass="btn btn-danger btn-mini" onClick='wndReport.setVisible(false)' />
				
				</hlayout>
				<hlayout>
					<iframe id="ireport" visible="true" width="900px" height="500px" />
				</hlayout>
		</vlayout>
	</window>
</zk>
