<?page title="True Money Witami Indonesia" contentType="text/html;charset=UTF-8"?>
<?page automaticTimeout="false"?>
<?link rel="icon" href="assets/img/favicon-16x16.png" ?>
<?link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"?>
<?link rel="icon" href="/favicon.ico" type="image/x-icon"?>
<!-- <?meta charset="utf-8"?> -->
<!-- <?meta http-equiv="X-UA-Compatible" content="IE=edge"?> -->
<!-- <?meta name="viewport" content="width=device-width, initial-scale=1"?> -->
<!-- <?meta name="description" content="True Money, E-Money, E-Wallet"?> -->
<!-- <?meta name="author" content="True Money Witami Indonesia"?> -->
<!-- <?meta name="keywords" content="e-money, electric money, true money, true, money, witami , witamitunai"?> -->

<?link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'?>
<?link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100italic,100,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'?>
<?link href="assets/css/bootstrap.css" rel="stylesheet"?>
 <!-- Custom CSS -->
<?link href="assets/css/font-awesome.css" rel="stylesheet"?>
<?link href="assets/css/animate.css" rel="stylesheet"?>
<?link href="assets/css/scrolling-nav.css" rel="stylesheet"?>
<?link rel="stylesheet" type="text/css" href="assets/css/component.css" /?>
<?link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet"?>
<?link href="assets/css/bootstrap-select.css" rel="stylesheet"?>
<?link href="assets/css/custom.css" rel="stylesheet"?>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.assets/js1.4.2/respond.min.js"></script>
	<![endif]-->
<zk xmlns:c="client" xmlns:n="native">

	<script src="assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/scrolling-nav.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/classie.js"></script>
    <script src="assets/js/cbpScroller.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/moment-with-locales.js"></script>
    <script src="assets/js/bootstrap-select.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.js"></script>
    <n:style type="text/css">
    .navbar-special {
        display: inline;
    }
    </n:style>
 
	<window id = "wndHome">
		<include id="inclMenu"  src=""/>

<zscript>
    <![CDATA[
        
		import com.truemoneywitami.function.session.mob_Session;
		import org.zkoss.zul.Include;
		import org.zkoss.zk.ui.util.Clients;
		import org.zkoss.zul.Window;
		import com.truemoneywitami.function.Constants;
		import com.truemoneywitami.function.RedirectMenu;
		
		mob_Session sesi = new mob_Session();
		
		//String username = sesi.getUsername();
		String username = (Sessions.getCurrent()).getAttribute("username");
		String account =  (Sessions.getCurrent()).getAttribute("tipe");
//		System.out.println(username);
//		System.out.println(account);
		if (!sesi.getSession()) {
			Executions.sendRedirect("/login.zul");
			//System.out.println("No Data");
			//System.out.println(username);
		}
			else if(sesi.getSessionAttribute("tipe").equalsIgnoreCase("agent")){
				Include inc = (Include) wndHome.getFellow("inclMenu");
				inc.setSrc(Constants.adminHeaderPath);
//				RedirectMenu menu = new RedirectMenu();
//				menu.setMenuLink("inforekeningagen");
			}
			else {
				String type = sesi.getSessionAttribute("tipe");
				Include inc = (Include) wndHome.getFellow("inclMenu");
				inc.setSrc(Constants.memberHeaderPath);
//				RedirectMenu menu = new RedirectMenu();
//				menu.setMenuLink("inforekeningmember");
			}	
	]]>
</zscript>
	</window>
	
	<n:script>
	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-52FWLP');
	</n:script>
	
	<n:noscript>
	<n:iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52FWLP" height="0" width="0" style="display:none;visibility:hidden">
	</n:iframe>
	</n:noscript>
	
</zk>